body,
div,
input,
textarea,
span,
h1,
h2,
h3 {
  font-family: "Open Sans", verdana, "sans-sarif";
}
#mainDiv {
  background-color: azure;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
}

#mainDiv-caption {
  width: 100%;
  position: relative;
  z-index: 1;
}

/* only used for background overlay not needed for centering */
form:before {
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #24323d;
  z-index: -1;
  border-radius: 0px;
  box-shadow: 4px 4px 7px #ccc;
  padding: 10px;
}
#formReg input {
  background: transparent !important;
  color: #8e979e !important;
  font-weight: bold;
  border: 1.5px solid white !important;
  border-radius: 0px !important;
}

/* Place Holder CSS */
.label {
  position: relative;
  display: inline-block;
  width: 48%;
}
.label:hover span {
  display: none;
}
input[type="text"]:focus,
input[type="text"]:active {
  /*z-index: -1000000;*/
}
.label input[type="text"] {
  position: relative;
}
.title {
  color: #8e979e;
  position: absolute;
  line-height: 1.5;
  left: 0.75rem;
  top: 0.375rem;
  font-weight: bold;
  z-index: 1;
}
.symbol {
  color: #1ab188;
}
::-webkit-input-placeholder {
  background: -webkit-linear-gradient(
    left,
    #aaa 0%,
    #aaa 40%,
    #1ab188 46%,
    #1ab188 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.placeholderActive {
  opacity: 0;
  visibility: hidden;
  z-index: -999999;
}
/* Place Holder CSS */
.btn-avb {
  width: 50%;
  font-size: 1.5rem;
  border-right-width: 0px;
  padding: 6px;
}

#msgContainerDiv {
  position: absolute;
  display: block;
  height: auto;
  max-height: 250px;
  top: 10%;
  left: 10%;
  right: 10%;
  z-index: 100;
}

.alert-danger > span {
  font-weight: bold;
  font-style: italic;
}
.disable {
  /* Note: pointer-events not supported by IE10 and under*/
  pointer-events: none;
  opacity: 0.4;
}

/* #1AB188  green color used*/
